@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 2px solid black;
  padding: 1.6rem;
  background-color: blueviolet;

  width: 30rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: .8rem;
}

button {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  font-size: 2.4rem;
  cursor: pointer;
}