@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30rem;
  border: .2rem solid #405060;
  padding: .8rem;
  background-color: #e0e8ef;
  color: #405060;

  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.display {
  border: .2rem solid #405060;
  padding: .8rem;
  background-color: #fdfeff;
}

.operation-preview,
.value-preview {
  height: 6rem;

  font-size: 1.8rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.value-preview {
  font-size: 4rem;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(5, 6.4rem);
  grid-template-columns: repeat(4, 1fr);
  gap: .8rem;
}

/* DEFAULT BUTTON STYLE */
button {
  border: .2rem solid #405060;
  background-color: #f0f8ff;
  border-radius: 50%;

  font-size: 1.8rem;
  color: inherit;
  cursor: pointer;
}

button:hover {
  background-color: #e0e8ef;
}

button:active {
  background-color: #d0d8df;
} 

/* NUMERIC BUTTON STYLE */
button.number  {
  background-color: #fdfeff;
}

button.number:hover {
  background-color: #edeeef;
}

button.number:active {
  background-color: #dddedf;
}

/* EQUAL BUTTON STYLE */
button.equals {
  background-color: #f1b04c;
}

button.equals:hover {
  background-color: #ebaa37;
}

button.equals:active {
  background-color: #d69532;
}

/* FONT-SIZE SPECIFIES*/ 
button.clear,
button.cancel {
  font-size: 1.6rem;
}